<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
	{% leaflet_js %}
	{% leaflet_css %}
	<title>Geosurikat</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css">	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-sidebar@0.2.0/src/L.Control.Sidebar.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.css">	

    <script src='https://unpkg.com/jquery@3.2.1/dist/jquery.min.js'></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/buttons-min.css">
    <script src='https://unpkg.com/jquery@3.2.1/dist/jquery.min.js'></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/buttons-min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" type="text/css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.js">	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.js" ></script>		
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-sidebar@0.2.0/src/L.Control.Sidebar.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.10.0/leaflet-providers.js"></script>	
<style>
html, body, #map {
  height: 100%;
  margin: 0;
}
.leaflet-control-layers {
		width: auto;
		overflow: auto;
	  }
#sidebar {
    height: 800px !important;
}
/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 1);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}
.legend span {
  position: relative;
  bottom: 3px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.8;
}
.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.button-line{
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.pure-button-group{
  margin-bottom: 10px;
}
#button-show, #button-hide, #button-fly-lpa, #button-fly-tod{
  font-size: 85%;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#button-fly-lpa, #button-fly-tod{
  background: rgb(28, 184, 65);
}
#button-show, #button-hide{
  background: rgb(223, 117, 20);
}
</style>
</head>

<body>
<div id="sidebar" >
</div>
    <div id='map'></div>
    <div class='button-line'>
      <div class='pure-button-group'>
        <button class="pure-button" id="button-fly-lpa">
          Las Palmas
        </button>
        <button class="pure-button pure-button-disabled" id="button-fly-tod">
          Toledo
        </button>
      </div>
    </div>

<script type="text/javascript">
	
	function our_layers(map,options){
		 // tiles  -------------------------------------

		var osm = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2F0b3Nza3kiLCJhIjoiMTQwODQxMDJiMDVhNWNmZWEwMzNkMzE2ZTI3NGZjMDIifQ.eoydB8O8O5RlsmFISdnDAg', {
				attribution: 'Geosurikat'
			}).addTo(map);
		var dark = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
				attribution: 'Geosurikat'
			});

		// load points  -------------------------------------
		var points = new L.GeoJSON.AJAX("{% url 'GEO:toledo_datasets' %}",{
			style: style,

			pointToLayer: function (feature, latlng) {
				return L.circle(latlng,geojsonMarkerOptions ).on('click', function () {     
			  sidebar.show();
			});
			},
			onEachFeature: function(feature,layer){
			layer.bindPopup("GVI: "+ "<strong>"+feature.properties.greenview+"</strong>" +" %");
			  var url0 = feature.properties.url0;
			  var url60 = feature.properties.url60;
			  var url120 = feature.properties.url120;
			  var url180 = feature.properties.url180;
			  var url240 = feature.properties.url240;
			  var url300 = feature.properties.url300;
				if (url0 !== null) {
					layer.on('click', function (e) {
						document.getElementById("info3").innerHTML ='<img style="width:100%" src="' + url0 + '">'+"</p>"+'<img style="width:100%" src="' + url60 + '">'+"</p>"+'<img style="width:100%" src="' + url120 + '">'+'<img style="width:100%" src="' + url180 + '">'+'<img style="width:100%" src="' + url240 + '">'+'<img style="width:100%" src="' + url300 + '">';
									el.addData(feature); });
						} else {
						layer.on('click', function (e) {
						document.getElementById("info3").innerHTML = ' <h5>GVI</h5>'+ feature.properties.greenview +' %';
						el.clear();
						el.addData(feature); });
						}

					layer.on('mouseover', function () {

						this.setStyle({
						  color: '#f8585a'
							});
						});
					layer.on('mouseout', function () {
						points.resetStyle(this);
						});
						}
			});

		// load points_lpa  -------------------------------------

		var points_lpa = new L.GeoJSON.AJAX("{% url 'GEO:laspalmas_datasets' %}",{
			style: style,

			pointToLayer: function (feature, latlng) {
				return L.circle(latlng,geojsonMarkerOptions ).on('click', function () {     
			  sidebar.show();
			});
			},
			onEachFeature: function(feature,layer){
			layer.bindPopup("GVI: "+ "<strong>"+feature.properties.greenview+"</strong>" +" %");
			  var url0 = feature.properties.url0;
			  var url60 = feature.properties.url60;
			  var url120 = feature.properties.url120;
			  var url180 = feature.properties.url180;
			  var url240 = feature.properties.url240;
			  var url300 = feature.properties.url300;
				if (url0 !== null) {
					layer.on('click', function (e) {
						document.getElementById("info3").innerHTML ='<img style="width:100%" src="' + url0 + '">'+"</p>"+'<img style="width:100%" src="' + url60 + '">'+"</p>"+'<img style="width:100%" src="' + url120 + '">'+'<img style="width:100%" src="' + url180 + '">'+'<img style="width:100%" src="' + url240 + '">'+'<img style="width:100%" src="' + url300 + '">';
						el.addData(feature); });
						} else {
						layer.on('click', function (e) {
						document.getElementById("info3").innerHTML = ' <h5>GVI</h5>'+ feature.properties.greenview +' %';
						el.clear();
						el.addData(feature); });
						}
					layer.on('mouseover', function () {
						this.setStyle({
						  color: '#f8585a'
							});
						});
					layer.on('mouseout', function () {
						points_lpa.resetStyle(this);
						});
						}
			});

 
		// load sidebar  -------------------------------------

	   var sidebar = L.control.sidebar('sidebar', {
		closeButton: true,
		position: 'right',
		autoPan: false,

		});

		map.addControl(sidebar);
		L.DomEvent.on(sidebar.getCloseButton(), 'click', function () {
		});
		sidebar.setContent('<div id="info3"></div>');
		map.on('click', function () {
		sidebar.hide();
		})

		//set circleMarker
		var geojsonMarkerOptions = {
		radius: 10,
		weight: 2,
		opacity: 1,
		fillOpacity: 0.9
		};

		function getColor(d) {
			return d === '<10'  ? "#FFAD73" :
				   d === '<20'  ? "#FFF434" :
				   d === '<30' ? "#BFFF5B" :
				   d === '<40' ? "#4ADA76" :
								"#1AE19F";
		}
	//change color depending of greenview atribute

		function style(feature) {
			var mag = feature.properties.greenview;
			  if (mag >= 0 && mag <= 10) {
				return { color: "#FFAD73" }; 
			  } 

			  else if (mag >= 10 && mag <= 20 ) {
				return { color: "#FFF434" };
			  } 
			  else if (mag >= 20 && mag <= 30) {
				return { color: "#BFFF5B" };
			  } 
			  else if (mag >= 30 && mag <= 40) {
				return { color: "#4ADA76" };
			  } 
				else if (mag >= 40 && mag <= 80) {
				return { color: "#1AE19F" };
			  } ;
				}

		//datasets.addTo(map);
		points.addTo(map);
		//add base LAyers and groupedOverlays 

		var baseLayers = {
			"Light": osm,
			"Dark":dark,		
		}

		var groupedOverlays = {
		  "Layers": {
			"Toledo": points,
			"Las Palmas": points_lpa,
		  }

		};


   // FLY-TO BUTTONS -------------------------------------
    var tod   = [39.8629528,-4.0286738];
    var lpa       = [28.125698,-15.4318027];

    var all_buttons =
      '#button-fly-lpa, #button-fly-tod';

    $('#button-fly-lpa').on('click', function(){
      $(all_buttons).removeClass('pure-button-disabled');
          map.addLayer(points_lpa);

      map.flyTo(lpa, 16);
    });

    $('#button-fly-tod').on('click', function(){
      $(all_buttons).removeClass('pure-button-disabled');
      map.flyTo(tod, 16);
    });

   // create legend -------------------------------------

	var legend = L.control({position: 'topleft'});
    legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend');
    labels = ['<a href="#des"style="color: #323432; class="pointer" ><strong>GVI %</strong></a>'],
    categories = ['<10','<20','<30','<40','+50'];

    for (var i = 0; i < categories.length; i++) {

            div.innerHTML += 
            labels.push(
                '<i class="circle" style="background:' + getColor(categories[i]) + '"></i> ' +
            (categories[i] ? categories[i] : '+'));

        }
        div.innerHTML = labels.join('<br>');
    return div;
    };
    legend.addTo(map);
 


	L.control.groupedLayers(baseLayers, groupedOverlays, {position: 'topleft'}).addTo(map);
	map.removeControl(map.zoomControl);


	}

</script>
{% leaflet_map "map" callback="window.our_layers" %}
</body>

</html>
